mixin searchbar (searchCriteria)
    script(src="/js/searchbar.js")
    div(class="searchbar")
        section(class="align-vertically")
            form(action="/search")
                div(class="searchbar-header")
                    section(class="align-horizontally align-centered")
                        button(id="searchbar-options-button" onclick="toggle_options()" type="button")
                            svg(width="20" height="20" fill="#000000")
                                use(xlink:href="/icons/bootstrap-icons.svg#sliders")
                        if (searchCriteria != undefined && searchCriteria.keyphrase != undefined)
                            input(type="text" name="keyphrase" value=searchCriteria.keyphrase required="required")
                        else
                            input(type="text" name="keyphrase" placeholder="Suchbegriff eingeben" required="required")
                        button(id="search-button" type="submit")
                            svg(width="20" height="20" fill="#000000")
                                use(xlink:href="/icons/bootstrap-icons.svg#search")
                div(class="searchbar-options")
                    section(class="align-horizontally")
                        div(class="searchbar-options-list")
                            section(class="align-vertically")
                                div(class="searchbar-options-list-header")
                                    span= "Molecular mass"
                        div(class="searchbar-options-body")
                            section(class="align-vertically")
                                section(class="align-horizontally gap-1")
                                    input(type="number" name="min_molecular_mass" placeholder="min" step="0.00")
                                    input(type="number" name="max_molecular_maxx" placeholder="max" step="0.00")