extends layout

block includes
    include searchresult

block links
    link(rel="stylesheet" href="css/searchresults_page.css")
    link(rel="stylesheet" href="css/searchresult.css")

block title
    title= "Drug-Search-Engine results"

block content
    body(class="align-vertically gap-2")
        header
            + navbar()
        section(class="align-horizontally align-centered")
            section(class="align-vertically gap-3" style="width: 75%")
                section(class="align-horizontally align-centered")
                    + searchbar( searchCriteria )
                if substances != undefined && substances.length != undefined && substances.length > 0
                    each substance in substances
                        + searchresult( substance )
                else
                    p= "Could not find any substances"