mixin searchbar
    div(class="align-horizontally align-centered")
        form(id="searchbar" action="/searchresults")
            button(id="options-button" type="button")= "Optionen"
            input(type="text" name="keywords" placeholder="Suchbegriff eingeben" required="required")
            button(id="search-button" type="submit")= "Suchen"