mixin searchbar
    div(id="searchbar" class="align-horizontally")
        form
            button(type="button")= "Optionen"
            input(type="text" placeholder="Suchbegriff eingeben")
            button(type="submit")= "Suchen"