mixin searchbar
    div(id="searchbar" class="align-horizontally align-centered")
        form(action="/searchresults")
            button(type="button")= "Optionen"
            input(type="text" name="keywords" placeholder="Suchbegriff eingeben" required="required")
            button(type="submit")= "Suchen"