doctype html

include navbar
include searchbar
include searchresult

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/aligment.css")
        link(rel="stylesheet" href="/css/searchresults_page.css")
        title DrugSearchEngine
    body(class="align-vertically")
        header
            + navbar()
        section 
            + searchbar()
        section(class="align-vertically")
            if substances != undefined && substances.length != undefined && substances.length > 0
                each substance in substances
                    section(class="align-horizontally")
                        + searchresult( substance )
            else
                p= "Could not find any substances"