extends layout

block title
    title= "Drug-Search-Engine"

block links
    link(rel="stylesheet" href="/css/search_page.css")

block content
    body(class="align-vertically" style="height: 100vh")
        header
            + navbar()
        section(class="align-vertically align-centered")
            + searchbar()