.align-horizontally {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.align-vertically {
    display: flex;
    flex-direction: column;
    height: 100%
}

.align-vertically .align-centered {
    justify-content: center;
}

.align-horizontally .align-centered {
    align-items: center;
}