.align-horizontally {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.align-vertically {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.align-vertically .align-centered {
    justify-content: center;
}

.align-horizontally .align-centered {
    align-items: center;
}

.align-vertically .align-space-between {
    justify-content: space-between;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

.gap-4 {
    gap: 40px;
}

.gap-5 {
    gap: 50px;
}