#navbar {
    padding: 16px;
    
    border-bottom: 4px solid #cccccc;
    box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.2);
}

.navbar-title {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
  
.navbar-title:hover {
    color: #6a0dad;
}